{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div>
    <h2>Wellcome to CountriES</h2>
    <h4>Total stored countries {{ countriesCount }}</h4>
</div>
{% endblock %}
