{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div>
    <a href="region">Region</a>
    <a href="country">Country</a>
</div>
{% endblock %}
