{% block header %}
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light shadow-sm border-bottom p-2">
            <a class="navbar-brand" href="{{ path('app_home') }}">CES</a>
            <a class="nav-link m-2" href="{{ path('app_country_index') }}">Countries</a>
            <a class="nav-link m-2" href="{{ path('app_region_index') }}">Regions</a>
          </nav>
    </header>
{% endblock %}